<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>SISTEMAS DE GESTION DE INGRESOS Y EGRESOS - NUEVO MOVIMIENTOS</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>
<body>
<div class="container">
  <h1>MOVIMIENTOS</h1>
  <hr>
  <h2>Datos Movimiento</h2>

  <form action="#" th:action="@{/guardarmovimiento}" th:object="${movimiento}" method="POST">

    <input type="text" th:field="*{concepto}" placeholder="Concepto" class="form-control mb-4 col-4">
    <input type="number" th:field="*{monto}" placeholder="Monto" class="form-control mb-4 col-4">
    <input type="text" th:field="*{empleado}" placeholder="# de Empleado" class="form-control mb-4 col-4">
    <input type="date" th:field="*{fecha}" placeholder="Fecha" class="form-control mb-4 col-4">
    <button type="submit" class="btn btn-info col-2">Guardar</button>

  </form>

  <hr>

  <a th:href = "@{/movimientos}">VOLVER</a>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>